{% extends "project/project_base.html" %}
{% load pagination_tags %}
{% block title %}{% trans 'All projects' %} - {{ block.super }}{% endblock title %}
{% block breadcrumb %}{{ block.super }} &ndash; <a href="{% url 'project:project_list' %}">{% trans "Latest projects" %}</a>{% endblock %}

{% block toolbar %}
<a class="btn" href="{% url project:project_update object.pk %}">{% trans "Update project" %}</a>
{% endblock toolbar %}

{% block main %}
<section id="breadcrumb" class="breadcrumb">
    <a href="/">{% trans "Home" %}</a> <span class="divider">/</span>
    <a href="{% url accounts_profile_detail object.topic.user %}">{{ object.topic.user }}</a> <span class="divider">/</span>
    {{ object|truncatewords:"5" }}
</section>

<article id="main" role="main">
    <header class="page-header">
        <h1>{{ object.topic.title }}</h1>
        <menu id="entry_{{ entry.id }}_commands" class="entry btn-group" align="right">
            <a class="btn" href="{% url filizver:topic_update object.id %}" title="{% trans "Update" %}"><span class="icon-edit"></span></a>
            <a class="btn" href="{% url filizver:topic_delete object.id %}" title="{% trans "Delete" %}"><span class="icon-remove"></span></a>
        </menu>
    </header>
	{% with object.topic as topic %}
	{% include "entry/_entry_form.html" %}
    <section id="entries" class="main">
        {% include "topic/_topic_entries.html" %}
    </section>
	{% endwith %}
    
{% endblock %}
