{% extends 'forums/base.html' %}
{% load forum_tags %}
{% load i18n %}

{% block content %}
		<ul class="breadcrumb">
			<li><a href="{% url 'forum:index' %}">{% trans "Forum" %}</a> <span class="divider">/</span></li>
			<li>{% link reply.thread.forum %} <span class="divider">/</span></li>
			<li>{{ reply.thread.topic }}</li>
		</ul>

	<h2>{% trans "Edit reply" %}</h2>

		<form method="post" class="form">
			{% csrf_token %}
				<fieldset>
					<legend>{% trans "Edit the reply and submit changes" %}</legend>
					{% if reply.id == reply.thread.head.id %}
					<div class="control-group">
					<label for="{{ form.title.auto_id }}">{% trans "Subject" %}</label>
					<div class="controls">{{ form.title }}</div>
					</div>
					{% endif %}
					<div class="control-group">
						<label for="{{ form.body.auto_id }}">{% trans "Message" %}</label>
						<div class="controls">{{ form.body }}</div>
					</div>
				</fieldset>
				<p class="form-actions">
					<input class="btn btn-primary" type="submit" value="{% trans "Save" %}" />
					<a class="btn" href="javascript:history.go(-1)">{% trans "Go back" %}</a>
				</p>
		</form>
	</div>
</div>
{% endblock %}
