{% extends "topic/base_topic.html" %}
{% load tagging_tags %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock title %}
{% block main %}
    <!--// Headline -->
    <section id="breadcrumb" class="breadcrumb">
        <a href="/">{% trans "Home" %}</a> <span class="divider">/</span>
        <a href="{% url 'accounts_profile_detail' object.user %}">{{ object.user }}</a> <span class="divider">/</span>
        {{ object|truncatewords:"5" }}
    </section>

    <!--// Main -->
    <article id="main" role="main">
        <header class="page-header">
            <h1>{{ object.title }}</h1>
            <menu id="entry_{{ entry.id }}_commands" class="entry btn-group" align="right">
                <a class="btn" href="{% url 'filizver:topic_update' object.id %}" title="{% trans "Update" %}"><span class="icon-edit"></span></a>
                <a class="btn" href="{% url 'filizver:topic_delete' object.id %}" title="{% trans "Delete" %}"><span class="icon-remove"></span></a>
            </menu>
        </header>

        
    <!--// Entries -->
        {% if perms.topic.can_change or object.user == user %}
        {% include "entry/_entry_form.html" %}
        {% endif %}
        <script type="text/javascript"> 
        // When the document is ready set up our sortable with it's inherant function(s) 
        $(document).ready(function() { 
            $("#entries").sortable({
                handle:  '.handle',
                axis: 'y',
                placeholder: 'sortable-placeholder',
                forcePlaceholderSize: true,
                //tolerance: 'pointer',
                update : function () { 
                    //$("#leaves").load("process-sortable.php?"+order);
                    $.ajax({
                        url: '{% url 'filizver:entry_sort' object.id %}', 
                        type: 'POST',
                        data: $('#entries').sortable('serialize'),
                        success: function(feedback){
                            $('#entries').html(feedback);
                        },
                    });
                }
            }); 
        }); 
        </script>     
        <section id="entries" class="main">
            {% include "topic/_topic_entries.html" %}
        </section>
    <!--// Details -->    
        {% if object.tag_list %}
        <details id="tags" class="main">
            <summary>{% trans 'Tags' %}:</summary>
            {% for tag in object.tag_list %}<a class="tag" href="{% url 'filizver.views.topic_tagged' tag.name|urlencode %}">{{tag}}</a> &nbsp; {% endfor %}
        </details>
        {% endif %}

        <aside id="comments" class="main">
            {% include 'comments/comments_block.html' %}
        </aside>
        
    </article>
{% endblock %}

{% block side %}
<div>
	<h3>{% trans "Moderators" %}</h3>
	{% if moderator_form %}
	<form action="" method="get" accept-charset="utf-8">
		{{ moderator_form|as_bootstrap }}
		<p><input type="submit" value="Continue &rarr;"></p>
	</form>
	{% endif %}
	<ul>
		{% for moderator in object.moderators.all %}
		<li>{{ moderator }}</li>
		{% endfor %}
	</ul>
</div>
<div>
	<h3>{% trans "Followers" %}</h3>
	<ul>
		{% for follower in object.followers.all %}
		<li>{{ follower }}</li>
		{% endfor %}
	</ul>
</div>
{% endblock side %}