{% extends "base_aside.html" %}
{% load tagging_tags navigation plugins %}
{% block title %}{% trans "Topics" %} - {{ block.super }}{% endblock title %}
{% block navbar_menu %}
	{% get_plugins filizver.core.plugins.MenuPoint as plugins %}
    {% for plugin in plugins %}
    <li class="{% active_path request plugin.get_link %}"><a href="{{ plugin.get_link }}">{{ plugin.get_label }}</a></li>
    {% endfor %}
	{% endblock %}
{% block breadcrumb %}{{ block.super }} &ndash; <a href="{% url topic.views.topic_list %}">{% trans "Topics" %}</a>{% endblock %}
{% block script %}{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/filizver.js"></script>
{% endblock %}
{% block style %}{{ block.super }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/filizver.css" />
{% endblock %}
