{% extends "base_aside.html" %}
{% load tagging_tags navigation plugins %}
{% block title %}{% trans "Topics" %} - {{ block.super }}{% endblock title %}

{% block breadcrumb %}
{{ block.super }} &ndash; <a href="{% url topic.views.topic_list %}">{% trans "Topics" %}</a>
{% endblock %}

{% block content_base %}
<div class="container">
	{% block content %}{% endblock content %}
</div>
{% endblock content_base %}

{% block script %}{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/filizver.js"></script>
{% endblock %}

{% block style %}{{ block.super }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/filizver.css" />

{% endblock %}

{% block navbar %}
<h1 id="brand" class="logo pull-left"><a class="brand" href="/">Django Manifest</a></h1>
<ul class="nav">
{% get_plugins filizver.core.plugins.MenuPoint as plugins %}
{% for plugin in plugins %}
<li class="{% active_path request plugin.get_link %}"><a href="{{ plugin.get_link }}">{{ plugin.get_label }}</a></li>
{% endfor %}
</ul>
{% block navbar_search %}{% include "_navbar_search.html" %}{% endblock %}

<ul class="account nav pull-right">
{% if user.is_authenticated %}
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		    {% thumbnail user.get_profile.avatar "16x16" as im %}
            <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ user }}" />
            {% endthumbnail %}
            {% if user.first_name %}{{ user.first_name|escape }}{% else %}{{ user.username }}{% endif %} <span class="caret"></span></a>
		<ul class="dropdown-menu">
            <li><a href="{% url accounts_profile_detail user.username %}">{% trans "Profile" %}</a></li>
            <li class="divider"></li>
            {% if user.is_staff %}<li><a href="/admin/">{% trans "Admin" %}</a></li>{% endif %}
            <li><a href="{% url accounts_logout %}">{% trans "Logout" %}</a></li>
		</ul>
	</li>
	{% if 'notification' in INSTALLED_APPS %}
    <li><a href="{% url notification_notices %}">{% trans "Notifications" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
	{% endif %}
    <li><a href="{% url accounts_settings %}">{% trans "Settings" %}</a></li>
{% else %}
	<li>
		<p class="navbar-text">
			<a href="{% url accounts_login %}">{% trans 'Log In' %}</a>
            {% trans "or" %}
			<a href="{% url accounts_register %}">{% trans 'Register' %}</a>
		</p>
	<li>
{% endif %}
</ul> 		    		
{% endblock navbar %}