{% extends PYBB_TEMPLATE|default:"base.html" %}
{% load i18n forum_tags %}

{%block title %}{{ PYBB_DEFAULT_TITLE }}{% endblock title %}

{% block extra_head %}
    {{ block.super }}
    <!-- Feeds -->
    <link rel="alternate" type="application/atom+xml" href="{% url forum:feed_posts %}" title="{% trans "Latest posts on forum" %}" >
    <link rel="alternate" type="application/atom+xml" href="{% url forum:feed_topics %}" title="{% trans "Latest topics on forum" %}" >
{% endblock %}

{% block breadcrumb %}
    {% include "forum/breadcrumb.html" %}
{% endblock %}

{% block content %}{% endblock content %}

