{% extends 'forums/base.html' %}
{% load pagination_tags %}
{% load forum_tags %}
{% load i18n %}

{% block content %}
{% autopaginate replies defaults.TOPIC_PAGE_SIZE %}
<div class="linkst">
	<div class="inbox">
		<div class="pagelink conl">{% paginate %}</div>
				<ul><li><a href="{% url forums:index %}">{% trans "Root" %} </a></li><li>&raquo; {% link thread.forum %} </li><li>&raquo; {{ thread }} 
				<a href="{% url forums:forum_thread_feed thread.id %}"><img src="{{ STATIC_URL }}forums/img/feed-icon-small.png" alt="[RSS Feed]" title="[RSS Feed]" style="vertical-align:middle;" /></a>
				</li></ul>
		<div class="clearer"></div>
	</div>
</div>

<form method="reply">
{% csrf_token %}
{% for reply in replies %}
<div id="p{{ reply.id }}" class="blockreply roweven firstreply">
	<a name="reply-{{ reply.id }}"></a>
	<h2><span><span class="conr">#{{ forloop.counter }}&nbsp;</span><a href="{{ reply.get_absolute_url }}">{% forum_time reply.created %}</a></span></h2>
	<div class="box">
		<div class="inbox">
			<div class="replyleft">
				<dl>
					<dt><strong><a href="{% url forums:forum_profile reply.user.username %}">{{ reply.user.username }}</a></strong></dt>
					<dd class="usertitle"><strong>{{ reply.user.forum_profile.status }}</strong></dd>
				</dl>
			</div>
			<div class="replyright">
				<h3>{{ reply.thread.name }}</h3>
				<div class="replymsg">
					{{ reply.body_html|safe }}
			{% if reply.updated_date %}
				<p class="replyedit"><em>{% trans "Edited" %} {{ reply.user.username }} ({% forum_time reply.updated_date %})</em></p>
			{% endif %}
				</div>
				{% if not forloop.first %} 
				<p class="multidelete"><label><strong>{% trans "Select" %}</strong>&nbsp;&nbsp;<input type="checkbox" name="reply" value="{{ reply.id }}" /></label></p>
				{% endif %}
			</div>
			<div class="clearer"></div>
		</div>
	</div>
</div>
{% endfor %}

<div class="replylinksb">
	<div class="inbox">
		<div class="pagelink conl">{% paginate %}</div>
		<p class="conr"><input type="submit" value="{% trans "Delete" %}" /></p>
		<div class="clearer"></div>
	</div>
</div>
</form>
{% endblock %}
