{% extends 'forums/base.html' %}
{% load i18n forum_tags pagination_tags %}

{% block content %}
{% autopaginate threads defaults.FORUM_PAGE_SIZE %}
	{% paginate %}
		<ul class="breadcrumb">
			<li><a href="{% url forum:index %}">{% trans "Root" %}</a> <span class="divider">/</span></li>
			<li>{{ forum }}</li>
		</ul>

<form class="form" method="post">
{% csrf_token %}
	<h2>{{ forum }}</h2>
			<table class="table">
			<thead>
				<tr>
					<th class="tcmod" scope="col"></th>
					<th class="tcl" scope="col">{% trans "Thread" %}</th>
					<th class="tc2" scope="col">{% trans "Replies" %}</th>
					<th class="tc3" scope="col">{% trans "Views" %}</th>
					<th class="tcr">{% trans "Last reply" %}</th>
				</tr>
			</thead>
			<tbody>
			{% if threads %}
				{% for thread in threads %}
					<tr>
						<td class="tcmod"><input type="checkbox" name="thread_id" value="{{ thread.id }}" /></td>
						<td class="tcl">
							<div class="intd">
								<div {% if thread.sticky %}class="sticky"{% else %}{% if thread.closed %}class="closed"{% else %}{% if thread|has_unreads:user %}class="inew"{% else %}class="icon"{% endif %}{% endif %}{% endif %}><div class="nosize"><!-- --></div></div>
								<div class="tclcon">
									{% if thread.sticky %}
										{% trans "Sticky:" %}
									{% endif %}
									{% if thread|has_unreads:user %}
										<strong>{% link thread %} <span class="byuser">{% trans "by" %} {{ thread.topic.user.username }}</span></strong>
									{% else %}
										{% link thread %} <span class="byuser">{% trans "by" %} {{ thread.topic.user.username }}</span>
									{% endif %}
								</div>
							</div>
						</td>
						<td class="tc2">{{ thread.reply_count }}</td>
						<td class="tc3">{{ thread.views }}</td>
						<td class="tcr"><a href="{{ thread.get_absolute_url }}">{% forum_time thread.last_update %}</a> <span class="byuser">{% trans "by" %} {{ thread.last_reply.user.username }}</span></td>
					</tr>
				{% endfor %}
			{% else %}
				<tr><td class="djangobbcon1" colspan="4">{% trans "Forum is empty." %}</td></tr>
			{% endif %}
			</tbody>
			</table>
			{% paginate %}
		<p>
			<input class="btn" type="submit" name="move_threads" value="{% trans "Move" %}" />&nbsp;&nbsp;
			<input class="btn" type="submit" name="delete_threads" value="{% trans "Delete" %}" />&nbsp;&nbsp;
			<input class="btn" type="submit" name="open_threads" value="{% trans "Open" %}" />&nbsp;&nbsp;
			<input class="btn" type="submit" name="close_threads" value="{% trans "Close" %}" />
		</p>
</form>
{% endblock %}

{% block controls %}
{% endblock %}
