{% load i18n %}
    <h2>{% if forum %}{% trans "New thread" %}{% else %}{% trans "New reply" %}{% endif %}</h2>
        <form class="form" id="reply" action="{{ form_url|default_if_none:"." }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                    <fieldset>
                    <legend>{% trans "Write your message and submit" %}</legend>
                    <noscript><h1>Please enable JavaScript!</h1></noscript>
                        {% if forum %}
                        <div class="control-group{% if form.title.errors %} error{% endif %}">
                            <label for="{{ form.title.auto_id }}" class="control-label">{% trans "Subject" %}</label>
                            <div class="controls">{{ form.title }}</div>
                            <span class="help-inline">{{ form.title.errors }}</span>
                        </div>
                        {% endif %}
                        <div class="control-group{% if form.body.errors %} error{% endif %}">
                            <label for="{{ form.body.auto_id }}" class="control-label">{% trans "Message" %}</label>
                            <div class="controls">{{ form.body }}</div>
                            <span class="help-inline">{{ form.body.errors }}</span>
                            <div class="help-block">Note: A list of all supported source code highlighter for [code <strong>XXX</strong>]...[/code] can be found here: <a href="http://pygments.org/docs/lexers/">pygments.org</a> (Use 'Short name')</div>
                        </div>
                        <div class="control-group">
                        <label class="checkbox">{{ form.subscribe }} {% trans "Subscribe this thread" %}</label>
                        <div class="help-inline">{{ form.subscribe.errors }}</div>
                        </div>
                </fieldset>
            <p class="form-actions">
                <input type="submit" class="btn btn-primary" name="{{ form.FORM_NAME }}" value="{% trans "Submit" %}" />
                <a class="btn" href="{{ back_url|default_if_none:"javascript:history.go(-1)" }}">{% trans "Go back" %}</a></p>
        </form>
