{% load i18n %}
{% csrf_token %}
	{{ form.source }}
	{{ form.plugin }}
    {{ form.media.css }}{{ form.media.js }}
    <script type="text/javascript">
        $(document).ready(function() {
            function newParameters(query) {
                query.topic = $('#id_topic').val();
            }
            $('#id_body_0').djselectable('option', 'prepareQuery', newParameters);
            $(':input[name=body_0]').bind('autocompleteselect', function(event, ui) {
                $(this).parents("form").submit();
            });
        });
    </script>
    <div class="form-actions">
        <input type="submit" class="btn" value="{% trans "Submit" %}">
    </div>
