<form id="photo_upload_form" class="photo upload-form" method="post" action="{% url filizver.contrib.photos.views.photo_create topic.id %}" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ form.user }}
    {{ form.topic }}
    <h3>{% trans "Upload photos" %}</h3>
    <ul>
        <li>{% trans "Hold down Control (Windows) or Command (Mac) button to upload multiple photos" %}</li>
        <li>{% trans "Or just drag and drop files on to green button from your computer." %}</li>
    </ul>
    <div id="file_upload_container">
        <input type="file" name="image" id="id_image" multiple="true" />
        <button>{% trans "Upload" %}</button>
        <div>{% trans "Select files" %}</div>
    </div>
    <table id="file_upload_table"></table>
    <p class="commands">
        <button type="submit" id="start_uploads">{% trans "Start uploads" %}</button>
        <button type="button" id="cancel_uploads">{% trans "Cancel uploads" %}</button>
    </p>
    {{ form.media }}
</form>
<div id="file_update_container">
    <p class="commands"><button type="button" class="finish">{% trans "Finish upload" %}</button></p>
    <h3>{% trans "Photos uploaded" %}</h3>
    <p>{% trans "You can set additional information for uploded photos" %}</p>
</div>
