<h5>{{ SITE_URL }}{{ MEDIA_URL }}{{ object.image.url }}</h5>
<div class="image left">
    {% thumbnail object.image "128" as im %}
    <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="" />
    {% endthumbnail %}
    <p>{{ object.image.width }}x{{ object.image.height }} px <br />
        {{ object.image.size|filesizeformat }}<br />
    </p>
</div>
<form id="photo_{{ object.id }}_update_form" class="photo update-form col" action="{% url filizver.contrib.photos.views.photo_update object.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Photo information" %}</legend>
    	{% if form.errors %}
    	<p class="ui-state-error">{% trans 'There were errors in form' %}</p>
    	{% endif %}
    	{{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>
    <p class="commands">
        <a href="{% url filizver.contrib.photos.views.photo_delete object.id %}" class="delete button">{% trans "Delete" %}</a>
        <button type="submit">{% trans 'Save' %}</button>
        <button type="reset">{% trans 'Cancel' %}</button>
    </p>
</form>
