{% load i18n %}
<form method="post" action="{% url filizver.contrib.photos.views.photo_create topic.id %}" enctype="multipart/form-data" >{% csrf_token %}
    <fieldset>
        <legend>{% trans "Upload a photo" %}</legend>
    	{% if form.errors %}
    	<p class="error dialogue">{% trans 'There were errors in form' %}</p>
    	{% endif %}
    	{{ form.as_p}}
        <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>
    <p class="form-controls">
        <input type="submit" name="submit" value="{% trans 'Upload' %}" class="submit button" />
        <input type="button" name="cancel" value="{% trans 'Cancel' %}" class="cancel button" />
    </p>
</form>
