{% with post.content_object.display as display %}

    {% if perms.topic.can_change or post.user == user or post.topic.user == user %}
    <form class="post widget" action="{% url filizver.contrib.photos.views.photo_display post.content_object.id %}" method="post">
            {% csrf_token %}
            <input type="radio" id="{{ post.content_object.id }}_display_L" name="display" value="L" {% if display == "L" %}checked{% endif %} />
            <label for="{{ post.content_object.id }}_display_L">{% trans "Left" %}</label>
            
            <input type="radio" id="{{ post.content_object.id }}_display_N" name="display" value="N" {% if display == "N" %}checked{% endif %} />
            <label for="{{ post.content_object.id }}_display_N">{% trans "None" %}</label>
            
            <input type="radio" id="{{ post.content_object.id }}_display_R" name="display" value="R" {% if display == "R" %}checked{% endif %} />
            <label for="{{ post.content_object.id }}_display_R">{% trans "Right" %}</label>
    </form>
    {% endif %}

    <figure class="post{% if display == "L"  %} left{% else %}{% if display == "R"  %} right{% endif %}{% endif %}">
    {% if display == "L" or display == "R"  %}
        {% thumbnail post.content_object.image "192" as im %}
        <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ post.content_object.description }}" />
        {% endthumbnail %}
    {% else %}
        {% thumbnail post.content_object.image "640" as im %}
        <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ post.content_object.description }}" />
        {% endthumbnail %}
        {% if post.content_object.title %}
        <figcaption>{{ post.content_object.title }}</figcaption>
        {% endif %}
    {% endif %}
    <figure>

{% endwith %}