{% extends "base.html" %}
{% load tagging_tags %}
{% block title %}{% trans "Photos" %} - {{ block.super }}{% endblock title %}
{% block breadcrumb %}{{ block.super }} &ndash; <a href="{% url filizver.contrib.photos.views.photo_list %}">{% trans "Photos" %}</a>{% endblock %}

{% block content %}
    <section class="body">{% block photos %}{% endblock %}</section>
    <article class="body">{% block article %}{% endblock %}</article>
    <aside class="body">
        {% block aside %}
        {% with request.user as user %}{% include "profiles/_profile_panel.html" %}{% endwith %}
        {% endblock %}
    </aside>
{% endblock %}