{% extends "photos/base_photos.html" %}
{% block title %}{% trans "Delete photo" %} - {{ block.super }}{% endblock %}

{% block content %}

    <div class="image left">
        {% thumbnail object.image "256" as im %}
        <img src="{{ MEDIA_URL }}{{ im }}" width="{{ im.x }}" height="{{ im.y }}" alt="">   
        {% endthumbnail %}
        <p>{{ object.image.width }}x{{ object.image.height }} px <br />
            {{ object.image.size|filesizeformat }}<br />
        </p>
    </div>
    <form class="photo delete-form col" action="{% url filizver.contrib.photos.views.photo_delete object.id %}" method="post">
        {% csrf_token %}
        <h3>{% trans "Delete photo" %}</h3>
        <p>{% trans "Are you sure you want to delete this photo?" %}</p>
        <p>{% trans "This can not be undone." %}</p>
        <p class="commands">
            <button type="submit" class="delete">{% trans "Delete photo" %}</button>
            <a href="{{ object.topic.get_absolute_url }}" class="cancel button">{% trans "Cancel" %}</a>
        </p>
    </form>

{% endblock %}
