{% extends "photos/base_photos.html" %}
{% block title %}{% trans "Update photo" %} - {{ block.super }}{% endblock %}
{% block content %}
    <h2>{% trans "Update photo" %}</h2>
    <div class="image left">
        {% thumbnail object.image "256" as im %}
        <img src="{{ MEDIA_URL }}{{ im }}" width="{{ im.x }}" height="{{ im.y }}" alt="">   
        {% endthumbnail %}
        <p>{{ object.image.width }}x{{ object.image.height }} px <br />
            {{ object.image.size|filesizeformat }}<br />
        </p>
    </div>
    <form class="update-form col" method="post" action="{% url filizver.contrib.photos.views.photo_update object.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Photo information" %}</legend>
        	{% if form.errors %}
        	<p class="error">{% trans 'There were errors in form' %}</p>
        	{% endif %}
        	{{ form.as_p}}
            <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
        <p class="commands">
            <a href="{% url filizver.contrib.photos.views.photo_delete object.id %}" class="delete button">{% trans "Delete" %}</a>
            <button type="submit">{% trans 'Update' %}</button>
            <button type="reset">{% trans 'Cancel' %}</button>
        </p>
    </form>

{% endblock %}
