{% extends "photos/base_photos.html" %}
{% block title %}{% trans "Add photo" %}{% endblock %}

{% block content %}
    <heading>
        <h2>{% trans 'Add photo' %}</h2>
    </heading>
    <p><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></p>
    
    <form method="post" action="{% url filizver.contrib.photos.views.photo_create topic.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Upload a photo" %}</legend>
        	{% if form.errors %}
        	<p class="error">{% trans 'There were errors in form' %}</p>
        	{% endif %}
        	{{ form.as_p}}
            <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
        <p class="commands">
            <button type="submit">{% trans 'Upload' %}</button>
            <a href="{{ topic.get_absolute_url }}" class="cancel button">{% trans 'Cancel' %}</a>
        </p>
    </form>

{% endblock %}
