{% extends "passages/base_passages.html" %}
{% block title %}{% trans "Update passage" %} - {{ block.super }}{% endblock %}
{% block content %}
    <h2>{% trans "Update passage" %}</h2>
    <form class="update-form col" method="post" action="{% url filizver.contrib.passages.views.passage_update object.id %}">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Passage information" %}</legend>
        	{% if form.errors %}
        	<p class="error">{% trans 'There were errors in form' %}</p>
        	{% endif %}
        	{{ form.as_p}}
            <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
        <p class="commands">
            <a href="{% url filizver.contrib.passages.views.passage_delete object.id %}" class="delete button">{% trans "Delete" %}</a>
            <button type="submit">{% trans 'Update' %}</button>
            <button type="reset">{% trans 'Cancel' %}</button>
        </p>
    </form>

{% endblock %}
