{% load i18n %}
<form class="branch-form form form-inline" method="post" action="{% url filizver_branch_create %}">
    {% csrf_token %}
	{% if form.errors %}
	<p class="error">{% trans 'There were errors in form' %}</p>
	{% endif %}
    <input type="hidden" name="topic" id="id_topic" value="{{ object.pk }}">
	{{ branch_form.source }}
	<button type="submit" class="btn btn-primary">{% trans "Branch out" %}</button>
    {{ branch_form.media.css }}{{ branch_form.media.js }}
    <script type="text/javascript">
        $(document).ready(function() {
            $(':input[name=source_0]').bind('autocompleteselect', function(event, ui) {
                $(this).parents("form").submit();
            });
        });
    </script>
</form>
