{% for entry in object.entry_set.select_related.all %}
<div id="entry_{{ entry.id }}" class="entry {{ entry.content_type|lower }}">
    {% if perms.topic.can_change or entry.user == user or entry.topic.user == user %}
        <menu id="entry_{{ entry.id }}_commands" class="entry btn-group" align="right">
            <a class="btn handle" title="{% trans "Move" %}"><span class="icon-move"></span></a>
            <a class="btn" href="{{ entry.content_object.get_update_url }}" title="{% trans "Update" %}"><span class="icon-edit"></span></a>
            <a class="btn" href="{{ entry.content_object.get_delete_url }}" title="{% trans "Delete" %}"><span class="icon-remove"></span></a>
        </menu>
    {% endif %}    
    {% include entry.detail_template %}
    <div class="meta">
        <a href="{% url accounts_profile_detail entry.user %}" class="image">
            {% thumbnail entry.user.get_profile.avatar "24x24" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ entry.user }}" />
            {% endthumbnail %}                    
        </a>                     
        <a href="{% url accounts_profile_detail entry.user %}">{{ entry.user }}</a>
        <time datetime="{{ entry.date_created|date:"c" }}">{{ entry.date_created|timesince }} {% trans 'ago' %}</time>        
    </div>
</div>
{% endfor %}
