{% extends "filizver/filizver_base.html" %}
{% block content %}
<form class="entry-form form form-inline" method="post" action="{% url 'filizver:entry_create' topic.id %}">
    {% csrf_token %}
	{% if form.errors %}
	<p class="error">{% trans 'There were errors in form' %}</p>
	<ul>
	   {{ form.errors }}
	</ul>
	{% endif %}
    <input type="hidden" name="topic" id="id_topic" value="{{ object.pk }}">
    {{ form.branch }}{{ form.text }}{{ form.source }}
            {{ form.media }}
	<button type="submit" class="btn btn-primary">{% trans "Branch out" %}</button>
    <script type="text/javascript">
        $(document).ready(function() {
            $(':input[name=source_0]').bind('autocompleteselect', function(event, ui) {
                $(this).parents("form").submit();
            });
        });
    </script>
</form>
{% endblock %}