{% extends "base_aside.html" %}
{% load tagging_tags %}
{% block title %}{% trans "Topics" %} - {{ block.super }}{% endblock title %}
{% block breadcrumb %}{{ block.super }} &ndash; <a href="{% url topic.views.topic_list %}">{% trans "Topics" %}</a>{% endblock %}
{% block script %}{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/filizver.js"></script>
{% endblock %}
{% block style %}{{ block.super }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/filizver.css" />
{% endblock %}
