{% if perms.topic.can_change or object.user == user %}
<p class="commands">
    <a class="update btn btn-small" href="{% url filizver.views.topic_update object.id %}"><span class="icon-edit"></span> {% trans 'update' %}</a>
    <a class="delete btn btn-small" href="{% url filizver.views.topic_delete object.id %}"
      onclick="return confirm('{% blocktrans %}Will be deleted: {{ object }}{% endblocktrans %}')"><span class="icon-trash"></span> {% trans 'delete' %}</a>            
</p>
{% endif %}
<div class="meta">
    <div class="avatar">
        <a href="{% url profiles_profile_detail object.user %}">
            {% thumbnail object.user.get_profile.avatar "32x32" as im %}
            <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ object.user }}" />
            {% endthumbnail %}                    
        </a>                     
    </div>
    <address class="user"><a href="{% url profiles_profile_detail object.user %}">{{ object.user }}</a></address>
    <time datetime="{{ object.date_created|date:"c" }}">{{ object.date_created|timesince }} {% trans 'ago' %}</time>
</div>
