{% extends "filizver/filizver_base.html" %}
{% load tagging_tags %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock title %}
{% block main %}
    <!--// Headline -->
    <section id="breadcrumb" class="breadcrumb">
        <a href="{% url filizver_homepage %}">{% trans "Home" %}</a> <span class="divider">/</span>
        <a href="{% url accounts_profile_detail object.user %}">{{ object.user }}</a> <span class="divider">/</span>
        {{ object|truncatewords:"5" }}
    </section>

    <!--// Main -->
    <article id="main" role="main">
        <header class="page-header">
            <h1>{{ object.title }}</h1>
        </header>

        
    <!--// Entries -->
        {% if perms.topic.can_change or object.user == user %}
        {% include "filizver/_entry_form.html" %}
        {% endif %}
        <section id="entries" class="main">
            {% include "filizver/_topic_entries.html" %}
        </section>
    <!--// Details -->    
        {% if object.tag_list %}
        <details id="tags" class="main">
            <summary>{% trans 'Tags' %}:</summary>
            {% for tag in object.tag_list %}<a class="tag" href="{% url filizver.views.topic_tagged tag.name|urlencode %}">{{tag}}</a> &nbsp; {% endfor %}
        </details>
        {% endif %}

        <aside id="comments" class="main">
            {% include 'comments/comments_block.html' %}
        </aside>
        
    </article>
{% endblock %}
