{% load tagging_tags %}
    <a href="{% url accounts_profile_detail object.user %}" class="image span1">
        {% thumbnail object.user.get_profile.avatar "48x48" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ object.user }}" class="pull-left" />
        {% endthumbnail %}                    
    </a>                     
    <div class="offset1"><a href="{{ object.get_absolute_url }}" target="_top" title="{{ object.title }}">{{ object.title }}</a></div>
    <div class="meta offset1">
        <address class="user pull-left"><a href="{% url accounts_profile_detail object.user %}">{{ object.user }}</a></address>
        <time datetime="{{ object.created_date|date:"c" }}">{{ object.created_date|timesince }} {% trans 'ago' %}</time>
    </div>
    {% if object.entry_set.select_related.all %}
    <section id="{{ object.id }}_entries" class="entries">
        {% for entry in object.entry_set.select_related.all %}
        <div id="entry_{{ entry.id }}_list" class="{{ entry.content_type|lower }} entry">
            {% include entry.list_template %}
        </div>
        {% endfor %}
    </section>            
    {% endif %}
