<form method="post" class="form well form-inline" action="{% url filizver:topic_create %}" enctype="multipart/form-data">
    {% csrf_token %}
	{% if form.errors %}
	<p class="error">{% trans 'There were errors in form' %}</p>
	{% endif %}
    <input type="hidden" name="next" value="{{ next }}" />
        <label for="id_title"><big>{% trans "Let it topic" %}</big></label><br/>
    	<textarea name="title" id="id_title" rows="2" class="span6"></textarea>
    	<button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
</form>
