{% extends "filizver/filizver_base.html" %}
{% load pagination_tags relationship_tags %}
{% block title %}{% trans 'All topics' %} - {{ block.super }}{% endblock title %}
{% block breadcrumb %}{{ block.super }} &ndash; <a href="{% url topic.views.topic_list %}">{% trans "Latest topics" %}</a>{% endblock %}

{% block main %}
{% with object_list|following_content:request.user as entries %}
    {% autopaginate entries 10 %}
    <header class="main">
        <h2>{% trans "Latest" %}</h2>
        <p>{% trans "Page" %}: <strong>{{ page_obj.number }}</strong> / {{ paginator.num_pages }}</p>
    </header>
    {% include "filizver/_topic_form.html" %}
    <section class="main">
    {% for object in entries %}
        <article class="section row {% cycle odd,even %}">
            {% include "filizver/_topic_list.html" %}
        </article>
    {% empty %}
        <p class="section empty">{% trans 'Not found any record.' %}</p>    
    {% endfor %}
    </section>
    <footer class="main">
        {% paginate %}
    </footer>
    {% endwith %}
{% endblock %}