{% extends 'forum/base.html' %}
{% load i18n forum_tags %}

{% block extra_script %}
    {{ block.super }}
    {% include "forum/_markitup.html" %}
    <script type="text/javascript" src="{{ STATIC_URL }}forum/js/jquery.formset.min.js"></script>
{% endblock %}

{% block breadcrumb %}
    {% if forum %}
        {% with object=forum extra_crumb="New topic" %}
            {% include 'forum/breadcrumb.html' %}
        {% endwith %}
    {% else %}
        {% with object=topic extra_crumb="New reply" %}
            {% include 'forum/breadcrumb.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block content %}

<h1>{% if forum %}{% trans "New topic" %}{% else %}{% trans "New reply" %}{% endif %}</h1>

{% include "forum/post_form.html" %}
{% endblock content %}
