{% load i18n forum_tags %}
<ul class='breadcrumb'>
    {% if request.path != '/' %}
        <li><a href="/">{% trans "Home" %}</a> <span class="divider">/</span></li>
    {% endif %}
    {% if object %}
            {% if object.get_parents %}
            {% for obj in object.get_parents %}
                <li>{% forum_link obj %} <span class="divider">/</span></li>
            {% endfor %}
        {% endif %}
        {% if extra_crumb %}
            <li>{% forum_link object %} <span class="divider">/</span></li>
        {% else %}
            <li>{{ object }}</li>
        {% endif %}
    {% endif %}
    {% if extra_crumb %}
        <li>{% trans extra_crumb %}</li>
    {% endif %}
</ul>